<h3>Side panel</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, inventore!</p>
<div class="mb-4">
  <h4>Interesting articles</h4>
  <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail">
  <p class="mt-2">For many, Python is a language for writing web projects, machine learning, or data analysis.</p>
  <a href="https://itproger.com/news/285" target="_blank">
    <button class="btn btn-warning">View</button>
  </a>
</div>

<div class="mb-4">
  <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail">
  <p class="mt-2">Why the Gobot engine is so popular among developers?</p>
  <a href="https://itproger.com/news/285" target="_blank">
    <button class="btn btn-warning">View</button>
  </a>
</div>
