{% extends 'blog/base.html' %}

{% block title %}
    Кабинет пользователя
{% endblock %}

{% block content %}
    <h1>Кабинет пользователя</h1>
    <div class="d-flex text-body-secondary pt-3">
        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
            <div class="d-flex flex-column">
                <div>
                    <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
                </div>
                {% if user.email %}
                    <div>
                        <b>Email:</b> {{ user.email }}
                    </div>
                {% endif %}
            </div>
        </p>
    </div>
    <form method="post" enctype="multipart/form-data" class="form-register mt-4">
        {% csrf_token %}
        {{ updateUserForm.as_p }}
        {{ profileForm.as_p }}
        <button class="btn btn-outline-warning" type="submit">Обновить</button>
        <hr>
    </form>
{% endblock %}

{% block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>
<img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail">
<p>Уже не первый год слышно много положительных отзывов про движок Gobot. Пришло время узнать больше об этом движке и выяснить почему он столь популярен.</p>
<a href="https://itproger.com/news/285" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
</a>
<h4 class="mt-2">Интересные статьи</h4>
<img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail mt-4">
<p>Для многих Python - это язык для написания веб проектов, машинного обучения или для анализа данных. На самом деле он более функционален и в этой статье мы вам это докажем.</p>
<a href="https://itproger.com/news/285" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock %}

