{% extends 'blog/base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h1>Profile of {{ user.username }}</h1>
    <div class="d-flex text-body-secondary pt-3">
        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" src="{{ user.profile.img.url }}">
            <div class="d-flex flex-column">
                <div>
                    <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
                </div>
                {% if user.email %}
                    <div>
                        <b>Email:</b> {{ user.email }}
                    </div>
                {% endif %}
            </div>
        </p>
    </div>
    <form method="post" enctype="multipart/form-data" class="form-register mt-4">
        {% csrf_token %}
        {{ updateUserForm.as_p }}
        {{ profileForm.as_p }}
        <button class="btn btn-outline-warning" type="submit">Update</button>
        <hr>
    </form>
{% endblock %}

{% block aside_block %}
    <div class="col-lg-3 sidebar">
        {% include 'blog/sidebar.html' %}
    </div>
{% endblock %}

